/* index.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

/* Form.css */
.form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-label {
  margin-right: 15px;
}

.radio-label {
  display: flex;
  
}
.radio-label input {
  margin-right: 5px;
}


button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Table.css */
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.edit-btn,
.delete-btn {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
}

.delete-btn {
  background-color: #f44336;
}

/* EditModal.css */
.modal-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 10px; /* Increase margin between labels and inputs */
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.checkbox-label {
  margin-right: 15px;
}

.radio-group {
  display: flex;
 
  margin-bottom: 15px;
}

.radio-label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.radio-label input {
  margin-right: 5px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
